{% extends 'home/base.html' %}

{% block content %}
<div id="chat">
    <h1 class="text-center">Haz tus consultas</h1>

    <form method="POST" id="form-chat">
        <p>Aquí puedes interactuar con Chat-GPT para obtener consejos para tu mascota</p>
        {% csrf_token %}
        <input type="text" class="form-control" name="user_input" placeholder="Escribe aquí tu consulta" id="user-input-field">
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-3">Enviar</button>
        </div>
    </form>

    {% if not request.user.is_authenticated %}
    <script>
        // Deshabilitar el campo de entrada si el usuario no está autenticado
        document.getElementById('user-input-field').disabled = true;
    </script>
    <p class="text-center" style="width: 50%;margin:auto; background-color:rgb(253, 212, 212);">
        Por favor, <a href="{% url 'login' %}" >Inicia Sesión</a> para acceder a todo nuestro contenido.
    </p>
    {% endif %}

    {% if response %}
    <div>
        {{ response|safe }}
    </div>
    {% endif %}
</div>

{% endblock %}
