{% extends 'home/base.html' %}

{% block content %}
<div id="chat">
            <h1 class="text-center">Haz tus consultas</h1>
            
        {% if request.user.is_authenticated %}
            <form method="POST" id="form-chat">
                <p>Aqui puedes Interactuar con Chat-GPT para obtener consejos para tu mascota</p>
                {% csrf_token %}
                <input type="text" class="form-control" name="user_input" placeholder="Escribe aquí tu consulta">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-3">Enviar</button>
                </div>
            </form>
        {% else %}

        <p class="text-center" style="width: 50%;margin:auto; background-color:rgb(253, 212, 212);">Por favor, <a href="{% url 'login' %}" >Inicia Sesión</a> para acceder a nuestro todo nuestro contenido.</p>
        {% endif %}

        {% if response %}
            <div>
                {{ response|safe }}
            </div>
        {% endif %}
</div>


{% endblock %}