{% extends 'home/base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">Mi Mascota</h1>
    {% if mascota.imagen %}
    <div class="text-center">
        <img src="{{ mascota.imagen.url }}" alt="{{ mascota.nombre }}" style="border-radius: 50%; max-width: 200px;">
    </div>
    {% else %}
    <p>Esta mascota no tiene una imagen registrada.</p>
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            <h3>Mi Mascota: {{ mascota.nombre }}</h3>
            <p>Especie: {{ mascota.especie }}</p>
            <p>Raza: {{ mascota.raza }}</p>
            <p>Fecha de Nacimiento: {% if mascota.fecha_nacimiento_mascota %} {{ mascota.fecha_nacimiento_mascota|date:"d/m/Y" }} {% else %} Desconocida {% endif %}</p>
            <p>Género: {{ mascota.genero_mascota }}</p>
            <p>Color: {{ mascota.color }}</p>
        </div>
    </div>
</div>
{% endblock %}
