{% extends 'home/base.html' %}

{% block content %}
<div id="tipo-usuario">
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 id="encabezadoFuente" class="text-center">Selecciona tu tipo de usuario</h1>
        <br>
        <form method="post"
            style="width: 70%; margin: auto; background-color: lightsteelblue;">
            {% csrf_token %}
            <div class="form-group">
                <label>Selecciona tu tipo de usuario:</label>
                {{ tipo_usuario_form.tipo_usuario }}
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Continuar</button>
            </div>
        </form>
    </div>

</div>

{% endblock %}