{% extends 'home/base.html' %}


{% block content %}
    <div id="servicios">
        <h1 class="text-center">Servicios para tu mascota</h1>
        <p class="text-center">Aquí encontrarás los servicios que tu mascota necesita.</p>
        {% if request.user.is_authenticated %}
        <!-- Este contenido solo se muestra a usuarios autenticados -->
        <div class="text-center">
            <form method="get" action="{% url 'buscar_servicio' %}">
                {{ form.query.label_tag }}
                {{ form.query }}
                {{ form.categoria.label_tag }}
                {{ form.categoria }}
                {{ form.calificacion.label_tag }}
                {{ form.calificacion }}
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
            <br>
        </div>

        <div class="row">
            {% for servicio in servicios %}
            <div class="col-md-4 mb-4">
                <div class="card h-100" style="width: 18rem; margin:auto;">
                    <a href="{% url 'detalle_servicio' servicio.id %}" style="text-decoration: none; ">
                        <img src="{{ servicio.imagen.url }}" class="card-img-top" alt="{{ servicio.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ servicio.nombre }}</h5>
                            <p class="card-text">Dirección: {{ servicio.direccion }}</p>
                            <p class="card-text">Teléfono: {{ servicio.telefono }}</p>
                            <p class="card-text">Horario: {{ servicio.horario }}</p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

        {% else %}
        <!-- Este contenido se muestra a usuarios no autenticados -->
        <p class="text-center">Por favor, <a href="{% url 'login' %}" >Inicia Sesión</a> para acceder a nuestro todo nuestro contenido.</p>
        
        {% endif %}
    </div>
{% endblock %}
