{% extends 'home/base.html' %}

{% block content %}
    <h1>Servicios</h1>
    <p>aqui se listaran los servicios</p>

    <div class="row">
        {% for servicio in servicios %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ servicio.imagen.url }}" class="card-img-top" alt="{{ servicio.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ servicio.nombre }}</h5>
                    <p class="card-text">Categoría: {{ servicio.categoria }}</p>
                    <p class="card-text">Dirección: {{ servicio.direccion }}</p>
                    <p class="card-text">Teléfono: {{ servicio.telefono }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
