{% extends 'home/base.html' %}

{% block content %}
    <body style="background-color:rgb(115, 216, 241);">
        <div class="container mt-4">
            <h1 class="text-center">{{ perfil.nombre }}</h1>
        
            <div style="padding: 10px;">
                {% if user.is_authenticated and user == perfil.dueno %}
                    <a href="{% url 'agregar_mascota' %}" class="btn btn-success">Registrar Nueva Mascota</a>
                {% endif %}
                <a href="{% url 'mi_perfil' %}" class="btn btn-warning">Mi Perfil</a>
                <a href="{% url 'galeria_mascota' perfil.id %}" class="btn btn-warning">Galería</a>
                <a href="{% url 'buscar_amigo' %}" class="btn btn-warning">Buscar Amigo</a>
                {% if user.is_authenticated and user == perfil.dueno %}
                    <a href="#" class="btn btn-warning">Ficha Clínica</a>
                {% endif %}
            </div>
        
            <!-- Imagen de perfil y información en una fila -->
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ perfil.imagen.url }}" alt="{{ perfil.nombre }}" class="imagen-redonda">
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            
                            <p class="card-text">Especie: {{ perfil.especie }}</p>
                            <p class="card-text">Raza: {{ perfil.raza }}</p>
                            <p class="card-text">Género: {{ perfil.genero_mascota }}</p>
                            <p class="card-text">Color: {{ perfil.color }}</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Formulario y Lista de mensajes -->
            <div class="row">
                <div class="col-md-4">
                    <div style="margin-top: 20px;">
                        <h2 class="text-center">Deja tu mensaje</h2>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-8">
                    <h2 class="text-center">Mensajes Recibidos:</h2>
                    <ul>
                        {% for mensaje in mensajes %}
                            {% if mensaje.tipo_mensaje == 'Publico' or user == mensaje.emisor or user == mensaje.receptor.dueno %}
                                <li>{{ mensaje.contenido }} - {{ mensaje.emisor }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
