{% extends 'home/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">{{ perfil.first_name }} {{ perfil.last_name }}</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="{{ perfil.imagen.url }}" alt="{{ perfil.nombre }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Información del Usuario</h5>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th scope="row">Nombre de usuario:</th>
                                <td>{{ user_info.username }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Correo electrónico:</th>
                                <td>{{ user_info.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Fecha de registro:</th>
                                <td>{{ user_info.date_joined }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Comentar</button>
            </form>
        </div>
    </div>
    <!-- Aquí puedes agregar el código para mostrar los comentarios -->
    <div>
        <h3>Comentarios</h3>
        <ul>
            {% for comentario in comentarios %}
                <li>
                    <strong>{{ comentario.emisor.username }}:</strong> {{ comentario.contenido }}
                </li>
            {% empty %}
                <li>No hay comentarios aún.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
